documents/xsd/TFOMSAutoInteract/perm/personattachdistrict.xsd

<?xml version="1.0" encoding="utf-8" ?>
<!--Created with Liquid XML Studio Developer Edition 9.0.11.3078 (http://www.liquid-technologies.com)-->
<xs:schema elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="PERSONATTACH">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="HEADER">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="OPERATIONTYPE">
                                <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                        <xs:maxLength value="6" />
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:element>
                            <xs:element name="CODE_MO">
                                <xs:simpleType>
                                    <xs:restriction base="xs:int">
                                        <xs:pattern value="\d{0,6}" />
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:element>
                            <xs:element name="DATA" type="xs:date" />
                            <xs:element name="PERSONATTACHID" type="xs:long" />
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="BODY" minOccurs="0">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="BDZID" type="xs:long" />
                            <xs:element name="FAM">
                                <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                        <xs:maxLength value="30" />
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:element>
                            <xs:element name="IM">
                                <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                        <xs:maxLength value="30" />
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:element>
                            <xs:element name="OT" minOccurs="0">
                                <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                        <xs:maxLength value="30" />
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:element>
                            <xs:element name="W">
                                <xs:simpleType>
                                    <xs:restriction base="xs:int">
                                        <xs:pattern value="\d{1}" />
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:element>
                            <xs:element name="DR" type="xs:date" />
                            <xs:element name="DOCTYPE">
                                <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                        <xs:maxLength value="2" />
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:element>
                            <xs:element name="DOCSER" minOccurs="0">
                                <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                        <xs:maxLength value="10" />
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:element>
                            <xs:element name="DOCNUM">
                                <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                        <xs:maxLength value="20" />
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:element>
                            <xs:element name="SNILS" minOccurs="0">
                                <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                        <xs:maxLength value="14" />
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:element>
                            <xs:element name="ATTACH_TYPE">
                                <xs:simpleType>
                                    <xs:restriction base="xs:int">
                                        <xs:enumeration value="1" />
                                        <xs:enumeration value="2" />
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:element>
                            <xs:element name="ATTACH_DT_MO" type="xs:date" />
                            <xs:element name="DETACH_DT_MO" type="xs:date" minOccurs="0" />
                            <xs:element name="DETACH_CAUSE_MO" type="xs:int" minOccurs="0" />
                            <xs:element name="PODR" type="xs:int" />
                            <xs:element name="OTD" type="xs:int" />
                            <xs:element name="UCH" type="xs:int" />
                            <xs:element name="PUNKT" type="xs:int" minOccurs="0" />
                            <xs:element name="SNILS_VR">
                                <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                        <xs:maxLength value="11" />
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:element>
                            <xs:element name="ATTACH_DT" type="xs:date" />
                            <xs:element name="PODR_F" type="xs:int" minOccurs="0" />
                            <xs:element name="OTD_F" type="xs:int" minOccurs="0" />
                            <xs:element name="UCH_F" type="xs:int" minOccurs="0" />
                            <xs:element name="PUNK_F" type="xs:int" minOccurs="0" />
                            <xs:element name="SNILS_VR_F" minOccurs="0">
                                <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                        <xs:maxLength value="11" />
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:element>
                            <xs:element name="ATTACH_DT_F" type="xs:date" minOccurs="0" />
                            <xs:element name="DETACH_DT_F" type="xs:date" minOccurs="0" />
                            <xs:element name="DETACH_F_CAUSE" type="xs:int" minOccurs="0" />
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>
