documents/xsd/ln.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><xs:schema xmlns:tns="http://ru/ibs/fss/ln/ws/FileOperationsLn.wsdl" xmlns:ns1="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" version="1.0" targetNamespace="http://ru/ibs/fss/ln/ws/FileOperationsLn.wsdl">

<xs:import namespace="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" schemaLocation="ln2.xsd"/>

<xs:element name="INFO" type="tns:INFO"/>

<xs:element name="OUT_ROWSET" type="tns:OUT_ROWSET"/>

<xs:element name="OUT_ROWSET_WRAPPER">
<xs:complexType>
<xs:sequence>
<xs:element name="OUT_ROWSET" type="tns:OUT_ROWSET" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:element>

<xs:element name="ROWSET" type="tns:ROWSET"/>

<xs:element name="ROWSET_WRAPPER">
<xs:complexType>
<xs:sequence>
<xs:element name="ROWSET" type="tns:ROWSET" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:element>

<xs:element name="SOAPException" type="tns:SOAPException"/>

<xs:element name="disableLn" type="tns:disableLn"/>

<xs:element name="disableLnResponse" type="tns:disableLnResponse"/>

<xs:element name="getExistingLNNumRange" type="tns:getExistingLNNumRange"/>

<xs:element name="getExistingLNNumRangeResponse" type="tns:getExistingLNNumRangeResponse"/>

<xs:element name="getLNData" type="tns:getLNData"/>

<xs:element name="getLNDataResponse" type="tns:getLNDataResponse"/>

<xs:element name="getNewLNNum" type="tns:getNewLNNum"/>

<xs:element name="getNewLNNumRange" type="tns:getNewLNNumRange"/>

<xs:element name="getNewLNNumRangeResponse" type="tns:getNewLNNumRangeResponse"/>

<xs:element name="getNewLNNumResponse" type="tns:getNewLNNumResponse"/>

<xs:element name="prParseFilelnlpu" type="tns:prParseFilelnlpu"/>

<xs:element name="prParseFilelnlpuResponse" type="tns:prParseFilelnlpuResponse"/>

<xs:complexType name="disableLn">
<xs:sequence>
<xs:element name="ogrn" type="xs:string" minOccurs="0"/>
<xs:element name="lnCode" type="xs:string" minOccurs="0"/>
<xs:element name="snils" type="xs:string" minOccurs="0"/>
<xs:element name="reasonCode" type="xs:string" minOccurs="0"/>
<xs:element name="reason" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="disableLnResponse">
<xs:sequence>
<xs:element name="FileOperationsLnUserDisableLnOut" type="tns:FileOperationsLnUser_disableLn_Out" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="FileOperationsLnUser_disableLn_Out">
<xs:complexContent>
<xs:extension base="tns:WSResult">
<xs:sequence>
<xs:element name="DATA" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="OUT_ROWSET" type="tns:OUT_ROWSET" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:element>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="WSResult">
<xs:sequence>
<xs:element name="REQUEST_ID" type="xs:string"/>
<xs:element name="STATUS" type="xs:int"/>
<xs:element name="MESS" type="xs:string" minOccurs="0"/>
<xs:element name="INFO" type="tns:INFO" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="OUT_ROWSET">
<xs:sequence>
<xs:element name="ROW" type="tns:ROW" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="ROW">
<xs:all>
<xs:element name="SNILS" type="xs:string"/>
<xs:element name="SURNAME" type="xs:string"/>
<xs:element name="NAME" type="xs:string"/>
<xs:element name="PATRONIMIC" type="xs:string" minOccurs="0"/>
<xs:element name="BOZ_FLAG" type="xs:int"/>
<xs:element name="LPU_EMPLOYER" type="xs:string" minOccurs="0"/>
<xs:element name="LPU_EMPL_FLAG" type="xs:int" nillable="true"/>
<xs:element name="LN_CODE" type="xs:string"/>
<xs:element name="PREV_LN_CODE" type="xs:string" minOccurs="0"/>
<xs:element name="PRIMARY_FLAG" type="xs:int"/>
<xs:element name="DUPLICATE_FLAG" type="xs:int"/>
<xs:element name="LN_DATE" type="xs:date"/>
<xs:element name="LPU_NAME" type="xs:string"/>
<xs:element name="LPU_ADDRESS" type="xs:string" minOccurs="0"/>
<xs:element name="LPU_OGRN" type="xs:string"/>
<xs:element name="BIRTHDAY" type="xs:date"/>
<xs:element name="GENDER" type="xs:int"/>
<xs:element name="REASON1" type="xs:string"/>
<xs:element name="REASON2" type="xs:string" minOccurs="0"/>
<xs:element name="REASON3" type="xs:string" minOccurs="0"/>
<xs:element name="DIAGNOS" type="xs:string" minOccurs="0"/>
<xs:element name="PARENT_CODE" type="xs:string" minOccurs="0"/>
<xs:element name="DATE1" type="xs:date" nillable="true"/>
<xs:element name="DATE2" type="xs:date" nillable="true"/>
<xs:element name="VOUCHER_NO" type="xs:string" minOccurs="0"/>
<xs:element name="VOUCHER_OGRN" type="xs:string" minOccurs="0"/>
<xs:element name="SERV1_AGE" type="xs:int" nillable="true"/>
<xs:element name="SERV1_MM" type="xs:int" nillable="true"/>
<xs:element name="SERV1_RELATION_CODE" type="xs:string" minOccurs="0"/>
<xs:element name="SERV1_FIO" type="xs:string" minOccurs="0"/>
<xs:element name="SERV2_AGE" type="xs:int" nillable="true"/>
<xs:element name="SERV2_MM" type="xs:int" nillable="true"/>
<xs:element name="SERV2_RELATION_CODE" type="xs:string" minOccurs="0"/>
<xs:element name="SERV2_FIO" type="xs:string" minOccurs="0"/>
<xs:element name="PREGN12W_FLAG" type="xs:int" nillable="true"/>
<xs:element name="HOSPITAL_DT1" type="xs:date" nillable="true"/>
<xs:element name="HOSPITAL_DT2" type="xs:date" nillable="true"/>
<xs:element name="HOSPITAL_BREACH" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="HOSPITAL_BREACH_CODE" type="xs:string"/>
<xs:element name="HOSPITAL_BREACH_DT" type="xs:date"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="MSE_DT1" type="xs:date" nillable="true"/>
<xs:element name="MSE_DT2" type="xs:date" nillable="true"/>
<xs:element name="MSE_DT3" type="xs:date" nillable="true"/>
<xs:element name="MSE_INVALID_GROUP" type="xs:int" nillable="true"/>
<xs:element name="TREAT_PERIODS">
<xs:complexType>
<xs:sequence>
<xs:element name="TREAT_FULL_PERIOD" type="tns:TREAT_FULL_PERIOD" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="LN_RESULT" minOccurs="0">
<xs:complexType>
<xs:all>
<xs:element name="RETURN_DATE_LPU" type="xs:date" nillable="true"/>
<xs:element name="MSE_RESULT" type="xs:string" minOccurs="0"/>
<xs:element name="OTHER_STATE_DT" type="xs:date" nillable="true"/>
<xs:element name="NEXT_LN_CODE" type="xs:string" minOccurs="0"/>
</xs:all>
</xs:complexType>
</xs:element>
<xs:element name="LN_STATE" type="xs:string"/>
<xs:element name="LN_HASH" type="xs:string" minOccurs="0"/>
</xs:all>
</xs:complexType>

<xs:complexType name="TREAT_FULL_PERIOD">
<xs:all>
<xs:element name="TREAT_CHAIRMAN_ROLE" type="xs:string" minOccurs="0"/>
<xs:element name="TREAT_CHAIRMAN" type="xs:string" minOccurs="0"/>
<xs:element name="TREAT_PERIOD" type="tns:TREAT_PERIOD"/>
</xs:all>
<xs:attribute ref="ns1:Id"/>
</xs:complexType>

<xs:complexType name="TREAT_PERIOD">
<xs:all>
<xs:element name="TREAT_DT1" type="xs:date"/>
<xs:element name="TREAT_DT2" type="xs:date"/>
<xs:element name="TREAT_DOCTOR_ROLE" type="xs:string"/>
<xs:element name="TREAT_DOCTOR" type="xs:string"/>
</xs:all>
<xs:attribute ref="ns1:Id"/>
</xs:complexType>

<xs:complexType name="PrParseFilelnlpuElement">
<xs:sequence>
<xs:element name="ogrn" type="xs:string" nillable="true"/>
<xs:element name="pXmlFile" nillable="true">
<xs:complexType>
<xs:sequence>
<xs:element name="ROWSET" type="tns:ROWSET" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="ROWSET">
<xs:sequence>
<xs:element name="ROW" maxOccurs="unbounded">
<xs:complexType>
<xs:all>
<xs:element name="SNILS" type="xs:string"/>
<xs:element name="SURNAME" type="xs:string"/>
<xs:element name="NAME" type="xs:string"/>
<xs:element name="PATRONIMIC" type="xs:string" minOccurs="0"/>
<xs:element name="BOZ_FLAG" type="xs:int"/>
<xs:element name="LPU_EMPLOYER" type="xs:string" minOccurs="0"/>
<xs:element name="LPU_EMPL_FLAG" type="xs:int" nillable="true"/>
<xs:element name="LN_CODE" type="xs:string"/>
<xs:element name="PREV_LN_CODE" type="xs:string" minOccurs="0"/>
<xs:element name="PRIMARY_FLAG" type="xs:int"/>
<xs:element name="DUPLICATE_FLAG" type="xs:int"/>
<xs:element name="LN_DATE" type="xs:date"/>
<xs:element name="LPU_NAME" type="xs:string"/>
<xs:element name="LPU_ADDRESS" type="xs:string" minOccurs="0"/>
<xs:element name="LPU_OGRN" type="xs:string"/>
<xs:element name="BIRTHDAY" type="xs:date"/>
<xs:element name="GENDER" type="xs:int"/>
<xs:element name="REASON1" type="xs:string"/>
<xs:element name="REASON2" type="xs:string" minOccurs="0"/>
<xs:element name="REASON3" type="xs:string" minOccurs="0"/>
<xs:element name="DIAGNOS" type="xs:string" minOccurs="0"/>
<xs:element name="PARENT_CODE" type="xs:string" minOccurs="0"/>
<xs:element name="DATE1" type="xs:date" nillable="true"/>
<xs:element name="DATE2" type="xs:date" nillable="true"/>
<xs:element name="VOUCHER_NO" type="xs:string" minOccurs="0"/>
<xs:element name="VOUCHER_OGRN" type="xs:string" minOccurs="0"/>
<xs:element name="SERV1_AGE" type="xs:int" nillable="true"/>
<xs:element name="SERV1_MM" type="xs:int" nillable="true"/>
<xs:element name="SERV1_RELATION_CODE" type="xs:string" minOccurs="0"/>
<xs:element name="SERV1_FIO" type="xs:string" minOccurs="0"/>
<xs:element name="SERV2_AGE" type="xs:int" nillable="true"/>
<xs:element name="SERV2_MM" type="xs:int" nillable="true"/>
<xs:element name="SERV2_RELATION_CODE" type="xs:string" minOccurs="0"/>
<xs:element name="SERV2_FIO" type="xs:string" minOccurs="0"/>
<xs:element name="PREGN12W_FLAG" type="xs:int" nillable="true"/>
<xs:element name="HOSPITAL_DT1" type="xs:date" nillable="true"/>
<xs:element name="HOSPITAL_DT2" type="xs:date" nillable="true"/>
<xs:element name="HOSPITAL_BREACH" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="HOSPITAL_BREACH_CODE" type="xs:string"/>
<xs:element name="HOSPITAL_BREACH_DT" type="xs:date"/>
</xs:sequence>
<xs:attribute ref="ns1:Id"/>
</xs:complexType>
</xs:element>
<xs:element name="MSE_DT1" type="xs:date" nillable="true"/>
<xs:element name="MSE_DT2" type="xs:date" nillable="true"/>
<xs:element name="MSE_DT3" type="xs:date" nillable="true"/>
<xs:element name="MSE_INVALID_GROUP" type="xs:int" nillable="true"/>
<xs:element name="TREAT_PERIODS">
<xs:complexType>
<xs:sequence>
<xs:element name="TREAT_FULL_PERIOD" type="tns:TREAT_FULL_PERIOD" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="LN_RESULT" minOccurs="0">
<xs:complexType>
<xs:all>
<xs:element name="RETURN_DATE_LPU" type="xs:date" nillable="true"/>
<xs:element name="MSE_RESULT" type="xs:string" minOccurs="0"/>
<xs:element name="OTHER_STATE_DT" type="xs:date" nillable="true"/>
<xs:element name="NEXT_LN_CODE" type="xs:string" minOccurs="0"/>
</xs:all>
<xs:attribute ref="ns1:Id"/>
</xs:complexType>
</xs:element>
<xs:element name="LN_STATE" type="xs:string"/>
<xs:element name="LN_HASH" type="xs:string" minOccurs="0"/>
</xs:all>
<xs:attribute ref="ns1:Id"/>
</xs:complexType>
</xs:element>
</xs:sequence>
<xs:attribute ref="tns:version"/>
<xs:attribute ref="tns:software"/>
<xs:attribute ref="tns:version_software"/>
<xs:attribute ref="tns:author"/>
<xs:attribute ref="tns:phone"/>
<xs:attribute ref="tns:email"/>
</xs:complexType>

<xs:complexType name="FileOperationsLnUser_getNewLNNum_Out">
<xs:complexContent>
<xs:extension base="tns:WSResult">
<xs:sequence>
<xs:element name="DATA" type="xs:string" nillable="true"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="INFO">
<xs:sequence>
<xs:element name="ROWSET" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="ROW" maxOccurs="unbounded">
<xs:complexType>
<xs:all>
<xs:element name="ROW_NO" type="xs:integer" nillable="true"/>
<xs:element name="LN_CODE" type="xs:string"/>
<xs:element name="LN_HASH" type="xs:string" minOccurs="0"/>
<xs:element name="LN_STATE" type="xs:string" minOccurs="0"/>
<xs:element name="STATUS" type="xs:int"/>
<xs:element name="ERRORS" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="ERROR" maxOccurs="unbounded">
<xs:complexType>
<xs:all>
<xs:element name="ERR_CODE" type="xs:string"/>
<xs:element name="ERR_MESS" type="xs:string"/>
</xs:all>
</xs:complexType>
</xs:element>
</xs:sequence>
</xs:complexType>
</xs:element>
</xs:all>
</xs:complexType>
</xs:element>
</xs:sequence>
</xs:complexType>
</xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="FileOperationsLnUser_getNewLNNumRange_Out">
<xs:complexContent>
<xs:extension base="tns:WSResult">
<xs:sequence>
<xs:element name="DATA" type="tns:lnNumList" nillable="true"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="lnNumList">
<xs:sequence>
<xs:element name="LNNum" type="xs:string" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="FileOperationsLnUser_getLNData_Out">
<xs:complexContent>
<xs:extension base="tns:WSResult">
<xs:sequence>
<xs:element name="DATA" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="OUT_ROWSET" type="tns:OUT_ROWSET" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:element>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="FileOperationsLnUser_getExistingLNNumRange_Out">
<xs:complexContent>
<xs:extension base="tns:WSResult">
<xs:sequence>
<xs:element name="DATA" type="tns:lnNumList" nillable="true"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="SOAPException">
<xs:sequence>
<xs:element name="message" type="xs:string" form="unqualified" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getExistingLNNumRange">
<xs:sequence>
<xs:element name="ogrn" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getExistingLNNumRangeResponse">
<xs:sequence>
<xs:element name="FileOperationsLnUserGetExistingLNNumRangeOut" type="tns:FileOperationsLnUser_getExistingLNNumRange_Out" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getNewLNNum">
<xs:sequence>
<xs:element name="ogrn" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getNewLNNumResponse">
<xs:sequence>
<xs:element name="fileOperationsLnUserGetNewLNNumOut" type="tns:FileOperationsLnUser_getNewLNNum_Out" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getNewLNNumRange">
<xs:sequence>
<xs:element name="ogrn" type="xs:string" minOccurs="0"/>
<xs:element name="cntLnNumbers" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getNewLNNumRangeResponse">
<xs:sequence>
<xs:element name="fileOperationsLnUserGetNewLNNumRangeOut" type="tns:FileOperationsLnUser_getNewLNNumRange_Out" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="prParseFilelnlpu">
<xs:sequence>
<xs:element name="request" type="tns:PrParseFilelnlpuElement" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="prParseFilelnlpuResponse">
<xs:sequence>
<xs:element name="WSResult" type="tns:WSResult" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getLNData">
<xs:sequence>
<xs:element name="ogrn" type="xs:string" minOccurs="0"/>
<xs:element name="lnCode" type="xs:string" minOccurs="0"/>
<xs:element name="snils" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getLNDataResponse">
<xs:sequence>
<xs:element name="FileOperationsLnUserGetLNDataOut" type="tns:FileOperationsLnUser_getLNData_Out" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:attribute name="author" type="xs:string"/>

<xs:attribute name="email" type="xs:string"/>

<xs:attribute name="phone" type="xs:string"/>

<xs:attribute name="software" type="xs:string"/>

<xs:attribute name="version" type="xs:string"/>

<xs:attribute name="version_software" type="xs:string"/>
</xs:schema>