documents/xsd/ln2.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><xs:schema xmlns:tns="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd">

<xs:element name="Created" type="tns:AttributedDateTime"/>

<xs:element name="Expires" type="tns:AttributedDateTime"/>

<xs:element name="Timestamp" type="tns:TimestampType"/>

<xs:complexType name="TimestampType">
<xs:sequence>
<xs:element name="Created" type="tns:AttributedDateTime" form="qualified" minOccurs="0"/>
<xs:element name="Expires" type="tns:AttributedDateTime" form="qualified" minOccurs="0"/>
<xs:any processContents="lax" namespace="##other" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
<xs:attribute ref="tns:Id"/>
<xs:anyAttribute namespace="##other" processContents="skip"/>
</xs:complexType>

<xs:complexType name="AttributedDateTime">
<xs:simpleContent>
<xs:extension base="xs:string">
<xs:attribute ref="tns:Id"/>
</xs:extension>
</xs:simpleContent>
</xs:complexType>

<xs:complexType name="AttributedURI">
<xs:simpleContent>
<xs:extension base="xs:string">
<xs:attribute ref="tns:Id"/>
</xs:extension>
</xs:simpleContent>
</xs:complexType>

<xs:attribute name="Id" type="xs:ID"/>
</xs:schema>