documents/xsd/pddp_err.xsd

<?xml version='1.0' encoding='UTF-8'?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="OSHIB_PR">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="VERSION" minOccurs="1" maxOccurs="1">
          <xs:simpleType> 
            <xs:restriction base="xs:string">
               <xs:enumeration value="1.0"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="DATA" minOccurs="1" maxOccurs="1">
          <xs:simpleType>
            <xs:restriction base="xs:date">
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element type="xs:string" name="FNAME"/>
        <xs:element type="xs:string" name="FNAME_I"/>
        <xs:element name="ZAP_OSHIB" minOccurs="0" maxOccurs="unbounded">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:integer" name="OSHIB"/>
              <xs:element type="xs:integer" name="NOMER_Z"/>
              <xs:element type="xs:string" name="COMMENT" minOccurs="0" />
              <xs:element type="xs:string" name="NUM_P" minOccurs="0" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>