promed/wsdl/HL7SoapService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="hl7" targetNamespace="http://mis.er.atc.ru/ws" xmlns:er="http://mis.er.atc.ru/ws" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <wsdl:types>
    <xs:schema elementFormDefault="qualified" targetNamespace="http://mis.er.atc.ru/ws" xmlns:er="http://mis.er.atc.ru/ws" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xs="http://www.w3.org/2001/XMLSchema">

      <xs:complexType name="Send">
        <xs:annotation>
          <xs:documentation>Запрос в федеральную регистратуру</xs:documentation>
        </xs:annotation>
        <xs:sequence>
          <xs:element maxOccurs="1" minOccurs="1" name="MessageData" type="er:MessageDataSendRequest"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="MessageDataSendRequest">
        <xs:annotation>
          <xs:documentation>Блок-обертка данных</xs:documentation>
        </xs:annotation>
        <xs:sequence>
          <xs:element maxOccurs="1" minOccurs="1" name="AppData" type="er:AppDataSendRequest"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="AppDataSendRequest">
        <xs:annotation>
          <xs:documentation>Содержит входные данные для вызова сервиса федеральной регистратуры</xs:documentation>
        </xs:annotation>
        <xs:sequence>
          <xs:element maxOccurs="1" minOccurs="1" name="message" type="xs:base64Binary">
            <xs:annotation>
              <xs:documentation>HL7 v2.5 сообщение, передаваемое сервису федеральной регистратуры и закодированное в base64</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="SendResponse">
        <xs:annotation>
          <xs:documentation>Возвращает данные, полученные от федеральной регистратуры</xs:documentation>
        </xs:annotation>
        <xs:sequence>
          <xs:element maxOccurs="1" minOccurs="1" name="MessageData" type="er:MessageDataSendResponse"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="MessageDataSendResponse">
        <xs:annotation>
          <xs:documentation>Блок-обертка данных</xs:documentation>
        </xs:annotation>
        <xs:sequence>

          <xs:element maxOccurs="1" minOccurs="0" name="message" type="xs:base64Binary">
            <xs:annotation>
              <xs:documentation>HL7 v2.5 сообщение, передаваемое в ответ на запрос и закодированное в base64</xs:documentation>
            </xs:annotation>
          </xs:element>

        </xs:sequence>
      </xs:complexType>
      
      <xs:element name="SendRequest" type="er:Send"/>
      <xs:element name="SendResponse" type="er:SendResponse"/>
    </xs:schema>
  </wsdl:types>
  <wsdl:message name="SendRequest">
    <wsdl:part element="er:SendRequest" name="SendRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="SendResponse">
    <wsdl:part element="er:SendResponse" name="SendResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="hl7Interface">
    <wsdl:operation name="Send">
      <wsdl:input message="er:SendRequest">
    </wsdl:input>
      <wsdl:output message="er:SendResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="hl7" type="er:hl7Interface">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="Send">
      <soap:operation soapAction="SendElectronicRegistry" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="hl7">
    <wsdl:port binding="er:hl7" name="hl7">
      <soap:address location="https://rish.promedweb.ru/soap/HL7SoapService"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>