documents/wsdl/clinics.wsdl

<?xml version='1.0' encoding='UTF-8'?><wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://atria.cz/place/main" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:bi="http://atria.cz/common/base/info/build/" name="placeService" targetNamespace="http://atria.cz/place/main">
  <wsdl:types>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://atria.cz/place/main" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:bi="http://atria.cz/common/base/info/build/">
            
  <xsd:import namespace="http://atria.cz/place/main" schemaLocation="https://rmis66.mis66.ru/clinics-ws/clinics?xsd=places.xsd"/>
            
  <xsd:import namespace="http://atria.cz/common/base/info/build/" schemaLocation="https://rmis66.mis66.ru/clinics-ws/clinics?xsd=http://atria.cz/common/base/buildInfo.xsd"/>
        
</xsd:schema>
  </wsdl:types>
  <wsdl:message name="getVersionResponse">
    <wsdl:part element="bi:getVersionResponse" name="getVersionResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getVersionRequest">
    <wsdl:part element="bi:getVersionRequest" name="getVersionRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getPlacesRequest">
    <wsdl:part element="tns:getPlacesRequest" name="request">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getPlacesResponse">
    <wsdl:part element="tns:getPlacesResponse" name="response">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getPlaceRequest">
    <wsdl:part element="tns:getPlaceRequest" name="request">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getPlaceResponse">
    <wsdl:part element="tns:getPlaceResponse" name="response">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="SOAPServicePortType">
<wsdl:documentation>
            SOAP Server description file
        </wsdl:documentation>
    <wsdl:operation name="getPlaces">
<wsdl:documentation>Получение списка медицинских организаций</wsdl:documentation>
      <wsdl:input message="tns:getPlacesRequest">
    </wsdl:input>
      <wsdl:output message="tns:getPlacesResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getPlace">
<wsdl:documentation>Получение информации о медицинской организации</wsdl:documentation>
      <wsdl:input message="tns:getPlaceRequest">
    </wsdl:input>
      <wsdl:output message="tns:getPlaceResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getVersion">
      <wsdl:input message="tns:getVersionRequest" name="getVersionRequest">
    </wsdl:input>
      <wsdl:output message="tns:getVersionResponse" name="getVersionResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="SOAPServiceBinding" type="tns:SOAPServicePortType">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="getPlaces">
      <soap:operation soapAction=""/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getPlace">
      <soap:operation soapAction=""/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getVersion">
      <soap:operation soapAction=""/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="placeService">
    <wsdl:port binding="tns:SOAPServiceBinding" name="SOAPServicePort">
      <soap:address location="https://rmis66.mis66.ru/clinics-ws/clinics"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>