documents/wsdl/departments.wsdl

<?xml version='1.0' encoding='UTF-8'?><wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://atria.cz/department/main" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:bi="http://atria.cz/common/base/info/build/" name="departmentService" targetNamespace="http://atria.cz/department/main">
  <wsdl:types>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://atria.cz/department/main" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:bi="http://atria.cz/common/base/info/build/">
            
  <xsd:import namespace="http://atria.cz/department/main" schemaLocation="https://rmis66.mis66.ru/departments-ws/departments?xsd=department.xsd"/>
            
  <xsd:import namespace="http://atria.cz/common/base/info/build/" schemaLocation="https://rmis66.mis66.ru/departments-ws/departments?xsd=http://atria.cz/common/base/buildInfo.xsd"/>
        
</xsd:schema>
  </wsdl:types>
  <wsdl:message name="getDepartmentsResponse">
    <wsdl:part element="tns:getDepartmentsResponse" name="response">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getVersionResponse">
    <wsdl:part element="bi:getVersionResponse" name="getVersionResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="createDepartmentRequest">
    <wsdl:part element="tns:createDepartmentRequest" name="request">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getDepartmentRequest">
    <wsdl:part element="tns:getDepartmentRequest" name="request">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getDepartmentsRequest">
    <wsdl:part element="tns:getDepartmentsRequest" name="request">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getDepartmentResponse">
    <wsdl:part element="tns:getDepartmentResponse" name="response">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getVersionRequest">
    <wsdl:part element="bi:getVersionRequest" name="getVersionRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="editDepartmentRequest">
    <wsdl:part element="tns:editDepartmentRequest" name="request">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="deleteDepartmentResponse">
    <wsdl:part element="tns:deleteDepartmentResponse" name="response">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="createDepartmentResponse">
    <wsdl:part element="tns:createDepartmentResponse" name="response">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="deleteDepartmentRequest">
    <wsdl:part element="tns:deleteDepartmentRequest" name="request">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="editDepartmentResponse">
    <wsdl:part element="tns:editDepartmentResponse" name="response">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="SOAPServicePortType">
<wsdl:documentation>
            SOAP Server description file
        </wsdl:documentation>
    <wsdl:operation name="getDepartments">
<wsdl:documentation>Получение списка отделений медицинской организации</wsdl:documentation>
      <wsdl:input message="tns:getDepartmentsRequest">
    </wsdl:input>
      <wsdl:output message="tns:getDepartmentsResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getDepartment">
<wsdl:documentation>Получение данных отделения медицинской организации</wsdl:documentation>
      <wsdl:input message="tns:getDepartmentRequest">
    </wsdl:input>
      <wsdl:output message="tns:getDepartmentResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="createDepartment">
<wsdl:documentation>Создание отделения медицинской организации</wsdl:documentation>
      <wsdl:input message="tns:createDepartmentRequest">
    </wsdl:input>
      <wsdl:output message="tns:createDepartmentResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="editDepartment">
<wsdl:documentation>Редактирование отделения медицинской организации</wsdl:documentation>
      <wsdl:input message="tns:editDepartmentRequest">
    </wsdl:input>
      <wsdl:output message="tns:editDepartmentResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deleteDepartment">
<wsdl:documentation>Удаление отделения медицинской организации</wsdl:documentation>
      <wsdl:input message="tns:deleteDepartmentRequest">
    </wsdl:input>
      <wsdl:output message="tns:deleteDepartmentResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getVersion">
      <wsdl:input message="tns:getVersionRequest" name="getVersionRequest">
    </wsdl:input>
      <wsdl:output message="tns:getVersionResponse" name="getVersionResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="SOAPServiceBinding" type="tns:SOAPServicePortType">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="getDepartments">
      <soap:operation soapAction=""/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getDepartment">
      <soap:operation soapAction=""/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="createDepartment">
      <soap:operation soapAction=""/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="editDepartment">
      <soap:operation soapAction=""/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deleteDepartment">
      <soap:operation soapAction=""/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getVersion">
      <soap:operation soapAction=""/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="departmentService">
    <wsdl:port binding="tns:SOAPServiceBinding" name="SOAPServicePort">
      <soap:address location="https://rmis66.mis66.ru/departments-ws/departments"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>