documents/wsdl/ServiceRIR.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://elmed-rostov.ru/ServiceRIR_MO/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://elmed-rostov.ru/ServiceRIR_MO/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://elmed-rostov.ru/ServiceRIR_MO/">
      <s:element name="WEB_Get_Appoint">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="_in" type="tns:Appoint_in" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="Appoint_in">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="LOGIN" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="PASSWORD" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="RUID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="D_NAPR" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CODE_MO_S" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CODE_MO_R" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="FAM" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="IM" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="OT" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="W" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DR" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="WEB_Get_AppointResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="WEB_Get_AppointResult" type="tns:Web_get_out" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="Web_get_out">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="RUID_OUT" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ZAP" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="STR_OUT" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="WEB_Get_Hospital">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="_in" type="tns:Hospital_in" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="Hospital_in">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="LOGIN" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="PASSWORD" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="RUID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="D_HOSP" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CODE_MO_S" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CODE_MO_R" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="FAM" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="IM" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="OT" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="W" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DR" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="WEB_Get_HospitalResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="WEB_Get_HospitalResult" type="tns:Web_get_out" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="WEB_Get_New_RUID">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="_in" type="tns:New_RUID_in" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="New_RUID_in">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="LOGIN" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="PASSWORD" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CDLPU" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="WEB_Get_New_RUIDResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="WEB_Get_New_RUIDResult" type="tns:New_RUID_out" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="New_RUID_out">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="RUID_OUT" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="STR_OUT" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="WEB_Appoint">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="_in" type="tns:WEB_in" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="WEB_in">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="LOGIN" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="PASSWORD" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="VERS" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ZAP" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="COMMENT" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="WEB_AppointResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="WEB_AppointResult" type="tns:WEB_out" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="WEB_out">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="RUID_OUT" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="STR_OUT" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CNT_OSHIB" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="PR" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="WEB_AppCancel">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="_in" type="tns:WEB_in" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="WEB_AppCancelResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="WEB_AppCancelResult" type="tns:WEB_out" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="WEB_Hospital">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="_in" type="tns:WEB_in" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="WEB_HospitalResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="WEB_HospitalResult" type="tns:WEB_out" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="WEB_AppointCorr">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="_in" type="tns:WEB_in" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="WEB_AppointCorrResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="WEB_AppointCorrResult" type="tns:WEB_out" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="WEB_HospitalCorr">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="_in" type="tns:WEB_in" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="WEB_HospitalCorrResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="WEB_HospitalCorrResult" type="tns:WEB_out" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="WEB_HospitalExtCorr">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="_in" type="tns:WEB_in" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="WEB_HospitalExtCorrResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="WEB_HospitalExtCorrResult" type="tns:WEB_out" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="WEB_HospitalExt">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="_in" type="tns:WEB_in" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="WEB_HospitalExtResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="WEB_HospitalExtResult" type="tns:WEB_out" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="WEB_PacientOutCorr">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="_in" type="tns:WEB_in" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="WEB_PacientOutCorrResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="WEB_PacientOutCorrResult" type="tns:WEB_out" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="WEB_PacientOut">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="_in" type="tns:WEB_in" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="WEB_PacientOutResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="WEB_PacientOutResult" type="tns:WEB_out" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="WEB_AvailableBerths">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="_in" type="tns:WEB_in" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="WEB_AvailableBerthsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="WEB_AvailableBerthsResult" type="tns:WEB_AB_out" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="WEB_AB_out">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="STR_OUT" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CNT_OSHIB" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="PR" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="UID_INFO" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="WEB_Consult">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="_in" type="tns:WEB_in" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="WEB_ConsultResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="WEB_ConsultResult" type="tns:WEB_out" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="WEB_Get_AppointSoapIn">
    <wsdl:part name="parameters" element="tns:WEB_Get_Appoint" />
  </wsdl:message>
  <wsdl:message name="WEB_Get_AppointSoapOut">
    <wsdl:part name="parameters" element="tns:WEB_Get_AppointResponse" />
  </wsdl:message>
  <wsdl:message name="WEB_Get_HospitalSoapIn">
    <wsdl:part name="parameters" element="tns:WEB_Get_Hospital" />
  </wsdl:message>
  <wsdl:message name="WEB_Get_HospitalSoapOut">
    <wsdl:part name="parameters" element="tns:WEB_Get_HospitalResponse" />
  </wsdl:message>
  <wsdl:message name="WEB_Get_New_RUIDSoapIn">
    <wsdl:part name="parameters" element="tns:WEB_Get_New_RUID" />
  </wsdl:message>
  <wsdl:message name="WEB_Get_New_RUIDSoapOut">
    <wsdl:part name="parameters" element="tns:WEB_Get_New_RUIDResponse" />
  </wsdl:message>
  <wsdl:message name="WEB_AppointSoapIn">
    <wsdl:part name="parameters" element="tns:WEB_Appoint" />
  </wsdl:message>
  <wsdl:message name="WEB_AppointSoapOut">
    <wsdl:part name="parameters" element="tns:WEB_AppointResponse" />
  </wsdl:message>
  <wsdl:message name="WEB_AppCancelSoapIn">
    <wsdl:part name="parameters" element="tns:WEB_AppCancel" />
  </wsdl:message>
  <wsdl:message name="WEB_AppCancelSoapOut">
    <wsdl:part name="parameters" element="tns:WEB_AppCancelResponse" />
  </wsdl:message>
  <wsdl:message name="WEB_HospitalSoapIn">
    <wsdl:part name="parameters" element="tns:WEB_Hospital" />
  </wsdl:message>
  <wsdl:message name="WEB_HospitalSoapOut">
    <wsdl:part name="parameters" element="tns:WEB_HospitalResponse" />
  </wsdl:message>
  <wsdl:message name="WEB_AppointCorrSoapIn">
    <wsdl:part name="parameters" element="tns:WEB_AppointCorr" />
  </wsdl:message>
  <wsdl:message name="WEB_AppointCorrSoapOut">
    <wsdl:part name="parameters" element="tns:WEB_AppointCorrResponse" />
  </wsdl:message>
  <wsdl:message name="WEB_HospitalCorrSoapIn">
    <wsdl:part name="parameters" element="tns:WEB_HospitalCorr" />
  </wsdl:message>
  <wsdl:message name="WEB_HospitalCorrSoapOut">
    <wsdl:part name="parameters" element="tns:WEB_HospitalCorrResponse" />
  </wsdl:message>
  <wsdl:message name="WEB_HospitalExtCorrSoapIn">
    <wsdl:part name="parameters" element="tns:WEB_HospitalExtCorr" />
  </wsdl:message>
  <wsdl:message name="WEB_HospitalExtCorrSoapOut">
    <wsdl:part name="parameters" element="tns:WEB_HospitalExtCorrResponse" />
  </wsdl:message>
  <wsdl:message name="WEB_HospitalExtSoapIn">
    <wsdl:part name="parameters" element="tns:WEB_HospitalExt" />
  </wsdl:message>
  <wsdl:message name="WEB_HospitalExtSoapOut">
    <wsdl:part name="parameters" element="tns:WEB_HospitalExtResponse" />
  </wsdl:message>
  <wsdl:message name="WEB_PacientOutCorrSoapIn">
    <wsdl:part name="parameters" element="tns:WEB_PacientOutCorr" />
  </wsdl:message>
  <wsdl:message name="WEB_PacientOutCorrSoapOut">
    <wsdl:part name="parameters" element="tns:WEB_PacientOutCorrResponse" />
  </wsdl:message>
  <wsdl:message name="WEB_PacientOutSoapIn">
    <wsdl:part name="parameters" element="tns:WEB_PacientOut" />
  </wsdl:message>
  <wsdl:message name="WEB_PacientOutSoapOut">
    <wsdl:part name="parameters" element="tns:WEB_PacientOutResponse" />
  </wsdl:message>
  <wsdl:message name="WEB_AvailableBerthsSoapIn">
    <wsdl:part name="parameters" element="tns:WEB_AvailableBerths" />
  </wsdl:message>
  <wsdl:message name="WEB_AvailableBerthsSoapOut">
    <wsdl:part name="parameters" element="tns:WEB_AvailableBerthsResponse" />
  </wsdl:message>
  <wsdl:message name="WEB_ConsultSoapIn">
    <wsdl:part name="parameters" element="tns:WEB_Consult" />
  </wsdl:message>
  <wsdl:message name="WEB_ConsultSoapOut">
    <wsdl:part name="parameters" element="tns:WEB_ConsultResponse" />
  </wsdl:message>
  <wsdl:portType name="ServiceRIRSoap">
    <wsdl:operation name="WEB_Get_Appoint">
      <wsdl:input message="tns:WEB_Get_AppointSoapIn" />
      <wsdl:output message="tns:WEB_Get_AppointSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="WEB_Get_Hospital">
      <wsdl:input message="tns:WEB_Get_HospitalSoapIn" />
      <wsdl:output message="tns:WEB_Get_HospitalSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="WEB_Get_New_RUID">
      <wsdl:input message="tns:WEB_Get_New_RUIDSoapIn" />
      <wsdl:output message="tns:WEB_Get_New_RUIDSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="WEB_Appoint">
      <wsdl:input message="tns:WEB_AppointSoapIn" />
      <wsdl:output message="tns:WEB_AppointSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="WEB_AppCancel">
      <wsdl:input message="tns:WEB_AppCancelSoapIn" />
      <wsdl:output message="tns:WEB_AppCancelSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="WEB_Hospital">
      <wsdl:input message="tns:WEB_HospitalSoapIn" />
      <wsdl:output message="tns:WEB_HospitalSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="WEB_AppointCorr">
      <wsdl:input message="tns:WEB_AppointCorrSoapIn" />
      <wsdl:output message="tns:WEB_AppointCorrSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="WEB_HospitalCorr">
      <wsdl:input message="tns:WEB_HospitalCorrSoapIn" />
      <wsdl:output message="tns:WEB_HospitalCorrSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="WEB_HospitalExtCorr">
      <wsdl:input message="tns:WEB_HospitalExtCorrSoapIn" />
      <wsdl:output message="tns:WEB_HospitalExtCorrSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="WEB_HospitalExt">
      <wsdl:input message="tns:WEB_HospitalExtSoapIn" />
      <wsdl:output message="tns:WEB_HospitalExtSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="WEB_PacientOutCorr">
      <wsdl:input message="tns:WEB_PacientOutCorrSoapIn" />
      <wsdl:output message="tns:WEB_PacientOutCorrSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="WEB_PacientOut">
      <wsdl:input message="tns:WEB_PacientOutSoapIn" />
      <wsdl:output message="tns:WEB_PacientOutSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="WEB_AvailableBerths">
      <wsdl:input message="tns:WEB_AvailableBerthsSoapIn" />
      <wsdl:output message="tns:WEB_AvailableBerthsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="WEB_Consult">
      <wsdl:input message="tns:WEB_ConsultSoapIn" />
      <wsdl:output message="tns:WEB_ConsultSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="ServiceRIRHttpGet" />
  <wsdl:portType name="ServiceRIRHttpPost" />
  <wsdl:binding name="ServiceRIRSoap" type="tns:ServiceRIRSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="WEB_Get_Appoint">
      <soap:operation soapAction="http://elmed-rostov.ru/ServiceRIR_MO/WEB_Get_Appoint" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WEB_Get_Hospital">
      <soap:operation soapAction="http://elmed-rostov.ru/ServiceRIR_MO/WEB_Get_Hospital" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WEB_Get_New_RUID">
      <soap:operation soapAction="http://elmed-rostov.ru/ServiceRIR_MO/WEB_Get_New_RUID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WEB_Appoint">
      <soap:operation soapAction="http://elmed-rostov.ru/ServiceRIR_MO/WEB_Appoint" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WEB_AppCancel">
      <soap:operation soapAction="http://elmed-rostov.ru/ServiceRIR_MO/WEB_AppCancel" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WEB_Hospital">
      <soap:operation soapAction="http://elmed-rostov.ru/ServiceRIR_MO/WEB_Hospital" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WEB_AppointCorr">
      <soap:operation soapAction="http://elmed-rostov.ru/ServiceRIR_MO/WEB_AppointCorr" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WEB_HospitalCorr">
      <soap:operation soapAction="http://elmed-rostov.ru/ServiceRIR_MO/WEB_HospitalCorr" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WEB_HospitalExtCorr">
      <soap:operation soapAction="http://elmed-rostov.ru/ServiceRIR_MO/WEB_HospitalExtCorr" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WEB_HospitalExt">
      <soap:operation soapAction="http://elmed-rostov.ru/ServiceRIR_MO/WEB_HospitalExt" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WEB_PacientOutCorr">
      <soap:operation soapAction="http://elmed-rostov.ru/ServiceRIR_MO/WEB_PacientOutCorr" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WEB_PacientOut">
      <soap:operation soapAction="http://elmed-rostov.ru/ServiceRIR_MO/WEB_PacientOut" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WEB_AvailableBerths">
      <soap:operation soapAction="http://elmed-rostov.ru/ServiceRIR_MO/WEB_AvailableBerths" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WEB_Consult">
      <soap:operation soapAction="http://elmed-rostov.ru/ServiceRIR_MO/WEB_Consult" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ServiceRIRSoap12" type="tns:ServiceRIRSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="WEB_Get_Appoint">
      <soap12:operation soapAction="http://elmed-rostov.ru/ServiceRIR_MO/WEB_Get_Appoint" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WEB_Get_Hospital">
      <soap12:operation soapAction="http://elmed-rostov.ru/ServiceRIR_MO/WEB_Get_Hospital" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WEB_Get_New_RUID">
      <soap12:operation soapAction="http://elmed-rostov.ru/ServiceRIR_MO/WEB_Get_New_RUID" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WEB_Appoint">
      <soap12:operation soapAction="http://elmed-rostov.ru/ServiceRIR_MO/WEB_Appoint" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WEB_AppCancel">
      <soap12:operation soapAction="http://elmed-rostov.ru/ServiceRIR_MO/WEB_AppCancel" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WEB_Hospital">
      <soap12:operation soapAction="http://elmed-rostov.ru/ServiceRIR_MO/WEB_Hospital" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WEB_AppointCorr">
      <soap12:operation soapAction="http://elmed-rostov.ru/ServiceRIR_MO/WEB_AppointCorr" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WEB_HospitalCorr">
      <soap12:operation soapAction="http://elmed-rostov.ru/ServiceRIR_MO/WEB_HospitalCorr" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WEB_HospitalExtCorr">
      <soap12:operation soapAction="http://elmed-rostov.ru/ServiceRIR_MO/WEB_HospitalExtCorr" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WEB_HospitalExt">
      <soap12:operation soapAction="http://elmed-rostov.ru/ServiceRIR_MO/WEB_HospitalExt" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WEB_PacientOutCorr">
      <soap12:operation soapAction="http://elmed-rostov.ru/ServiceRIR_MO/WEB_PacientOutCorr" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WEB_PacientOut">
      <soap12:operation soapAction="http://elmed-rostov.ru/ServiceRIR_MO/WEB_PacientOut" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WEB_AvailableBerths">
      <soap12:operation soapAction="http://elmed-rostov.ru/ServiceRIR_MO/WEB_AvailableBerths" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WEB_Consult">
      <soap12:operation soapAction="http://elmed-rostov.ru/ServiceRIR_MO/WEB_Consult" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ServiceRIRHttpGet" type="tns:ServiceRIRHttpGet">
    <http:binding verb="GET" />
  </wsdl:binding>
  <wsdl:binding name="ServiceRIRHttpPost" type="tns:ServiceRIRHttpPost">
    <http:binding verb="POST" />
  </wsdl:binding>
  <wsdl:service name="ServiceRIR">
    <wsdl:port name="ServiceRIRSoap" binding="tns:ServiceRIRSoap">
      <soap:address location="http://10.3.126.167:87/WebServicesMO/ServiceRIR.asmx" />
    </wsdl:port>
    <wsdl:port name="ServiceRIRSoap12" binding="tns:ServiceRIRSoap12">
      <soap12:address location="http://10.3.126.167:87/WebServicesMO/ServiceRIR.asmx" />
    </wsdl:port>
    <wsdl:port name="ServiceRIRHttpGet" binding="tns:ServiceRIRHttpGet">
      <http:address location="http://10.3.126.167:87/WebServicesMO/ServiceRIR.asmx" />
    </wsdl:port>
    <wsdl:port name="ServiceRIRHttpPost" binding="tns:ServiceRIRHttpPost">
      <http:address location="http://10.3.126.167:87/WebServicesMO/ServiceRIR.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>