documents/xsd/TFOMSAutoInteract/district.xsd

<?xml version="1.0" encoding="utf-8" ?>
<!--Created with Liquid XML Studio Developer Edition 9.0.11.3078 (http://www.liquid-technologies.com)-->
<xs:schema elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="DISTRICT">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="HEADER">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="OPERATIONTYPE">
                                <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                        <xs:maxLength value="6" />
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:element>
                            <xs:element name="DATE" type="xs:date" />
                            <xs:element name="CODE_MO">
                                <xs:simpleType>
                                    <xs:restriction base="xs:int">
                                        <xs:pattern value="\d{0,6}" />
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:element>
							<xs:element name="ID_MO" type="xs:string" />
                            <xs:element name="LPUREGION_ID" type="xs:long" />
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="BODY" minOccurs="0">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="LPUREGION_NAME">
                                <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                        <xs:maxLength value="6" />
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:element>
                            <xs:element name="LPUREGIONTYPE">
                                <xs:simpleType>
                                    <xs:restriction base="xs:int">
                                        <xs:pattern value="\d{0,2}" />
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:element>
                            <xs:element name="LPUSECTION_CODETFOMS" type="xs:int" minOccurs="0" />
                            <xs:element name="LPUBUILDING_CODETFOMS" type="xs:int" minOccurs="0" />
                            <xs:element name="DOC_SNILS" minOccurs="0">
                                <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                        <xs:maxLength value="14" />
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:element>
                            <xs:element name="DOC_TYPE">
                                <xs:simpleType>
                                    <xs:restriction base="xs:int">
                                        <xs:enumeration value="1" />
                                        <xs:enumeration value="2" />
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:element>
                            <xs:element name="DOC_DATE" type="xs:date" />
                            <xs:element name="LPUREGION_BEGDATE" type="xs:date" />
                            <xs:element name="LPUREGION_ENDDATE" type="xs:date" minOccurs="0" />
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>
