documents/xsd/TFOMSAutoInteract/free_beds_information.xsd

<?xml version="1.0" encoding="utf-8" ?>
<!--Created with Liquid XML Studio Developer Edition 9.0.11.3078 (http://www.liquid-technologies.com)-->
<xs:schema elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="FREE_BEDS_INFORMATION">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="HEADER">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="OPERATIONTYPE">
                                <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                        <xs:maxLength value="6" />
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:element>
                            <xs:element name="DATA" type="xs:date" />
                            <xs:element name="CODE_MO">
                                <xs:simpleType>
                                    <xs:restriction base="xs:int">
                                        <xs:pattern value="\d{0,6}" />
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:element>
                            <xs:element name="FBI_ID" type="xs:long" />
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="BODY">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="ACTUAL_DATE" type="xs:date" />
                            <xs:element name="BRANCH" type="xs:int" minOccurs="0" />
                            <xs:element name="DIVISIONPROFIL" type="xs:int" />
                            <xs:element name="BEDPROFIL" type="xs:int" />
                            <xs:element name="CARETYPE" type="xs:int" minOccurs="0" />
                            <xs:element name="BEDOCCUPIED" type="xs:int" />
                            <xs:element name="BEDOCCUPIEDTODAY" type="xs:int" />
                            <xs:element name="BEDCLEARTODAY" type="xs:int" />
                            <xs:element name="BEDPLANNED" type="xs:int" />
                            <xs:element name="BEDFREE" type="xs:int" />
                            <xs:element name="BEDFREEADULT" type="xs:int" />
                            <xs:element name="BEDFREECHILD" type="xs:int" />
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>
